#about {
    color: red;
}
#skills {
    color: green;
}
#portfolio {
    color: blue;
}
#contact {
    color: yellow;
}
#section-1 {
    color: white;
    background-color: aquamarine;
}
#div1, #div2, #div3, #div4 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}

#div1 {
    background-color: blueviolet;
}
#div2 {
    background-color: brown;
}
#div3 {
    background-color: orange;
}
#div4 {
    background-color: yellow;
}
#div-1, #div-2, #div-3 {
    display: inline-block;
    height: 130px;
    width: 130px;
}
#div-1 {
    border: 3px solid blue;
}
#div-2 {
    border: 3px solid lightskyblue;
}
#div-3 {
    border: 3px solid skyblue;
}
#wiadomość {
    height: 100px;
}
#button {
    color: #fff;
    background-color: brown;
    height: 30px;
    width: 150px;
}
a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

table {
    padding-bottom: 10px;
}

th {
    float: right;
}

