#about {
    color: red;
}
#skills {
    color: green;
}
#portfolio {
    color: blue;
}
#contact {
    color: yellow;
}
#section-1 {
    color: white;
    background-color: aquamarine;
}
#div1, #div2, #div3, #div4 {
    display: inline-block;
    height: 100px;
    width: 100px;
    
}

#div1 {
    background-color: blueviolet;
}
#div2 {
    background-color: brown;
}
#div3 {
    background-color: orange;
}
#div4 {
    background-color: yellow;
}
#div-1, #div-2, #div-3 {
    display: inline-block;
    height: 133px;
    width: 133px;
}
#div-1 {
    background-color: blue;
}
#div-2 {
    background-color: lightskyblue;
}
#div-3 {
    background-color: skyblue;
}
a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}