#about {
    color: red;
}
#skills {
    color: green;
}
#portfolio {
    color: blue;
}
#contact {
    color: yellow;
}
#section-1 {
    color: white;
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}